.input-space{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    border-radius: 8px;
    height: 70px;
    width: 10.55em;
    margin: 20px 0;
    padding: 20px;
    background: hsl(224, 36%, 15%);
    color: white;
    overflow: hidden;
}

.input-space-light{
    background: hsl(0, 0%, 93%);
    color: hsl(60, 10%, 19%);;
}

.input-space-purple{
    background: hsl(268, 71%, 12%);
    color: hsl(52, 100%, 62%);;
}

@media (max-width: 600px) {
    .input-space{
        font-size: 40px;
        font-weight: bold;
        border-radius: 8px;
        height: 70px;
        width: 8.55em;
        margin: 20px 0;
        padding: 20px;
    }
}
