button{
    background: hsl(30, 25%, 89%);
    border: none;
    width: 80px;
    height: 52px;
    border-radius: 6px;
    box-shadow: 0 3px 0 hsl(28, 16%, 65%);
    transition: 0.2s all;
    color: hsl(60, 10%, 19%);
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.light-key-bg {
    background: hsl(45, 7%, 89%);
    box-shadow: 0 3px 0 hsl(35, 11%, 61%);
    color: hsl(60, 10%, 19%);
}

.purple-key-bg {
    background: hsl(268, 47%, 21%);
    box-shadow: 0 3px 0 hsl(290, 70%, 36%);
    color: hsl(52, 100%, 62%);
}

.purple-key-bg:hover{
    background: hsl(281, 89%, 26%);
    box-shadow: 0 3px 0 hsl(285, 91%, 52%);
}

button:hover{
    background: white;
}